In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sklearn.metrics import mean_squared_error, max_error

In [18]:
harmony_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\Harmony_data.csv')
IHS_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\IHS_data.csv')
train_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\production_data_train.csv', parse_dates=[['Month', 'Year']])

harmony_data.shape, IHS_data.shape, train_data.shape

((8930, 7), (9224, 14), (394074, 9))

In [21]:
train_data.rename(columns={'Month_Year':'Date'}, inplace=True)

In [23]:
train_data.set_index('Date', inplace=True)

In [24]:
train_data

,API,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
Date,,,,,,,,
2015-03-01,33053063590000,17186,26624,1.549168,8213,0.477889,16,2016-08-11 14:03:14.000
2015-04-01,33053063590000,18796,21796,1.159608,7255,0.385986,30,2016-08-11 14:03:14.000
2015-05-01,33053063590000,14626,15988,1.093122,4213,0.288049,31,2016-08-11 14:03:14.000
2015-06-01,33053063590000,10421,12311,1.181365,2717,0.260724,30,2016-04-06 13:47:11.383
2015-07-01,33053063590000,9777,11254,1.151069,2399,0.245372,31,2016-04-06 13:47:11.383
...,...,...,...,...,...,...,...,...
2018-05-01,42301324920100,2387,10603,4.441977,21452,8.987013,0,2019-03-10 13:58:15.553
2018-06-01,42301324920100,4531,8700,1.920106,40840,9.013463,0,2019-03-10 13:58:15.553
2018-07-01,42301324920100,7432,9536,1.283100,66864,8.996771,0,2019-03-10 13:58:15.553
2018-08-01,42301324920100,4614,8625,1.869311,41465,8.986779,0,2019-03-10 13:58:15.553
2018-09-01,42301324920100,2156,3354,1.555659,19285,8.944805,0,2019-03-10 13:58:15.553